.wrapper{
    width:100%;
    height:30px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
}


.switch{
    position: relative;
    left:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:50px;
    height:12px;
    border: 1px solid black;
    border-radius: 20px;
    padding:0;
}

.light{
    border-radius: 20px;
    width: 25px;
    height: 12px;
    transition: background-color 1s ease;
    font-size: 8px;
    padding-top: 1px;
    color:aliceblue;
    cursor: pointer;
}

.light.act{
    background-color: black;
}

.dark{
    cursor: pointer;
    font-size: 8px;
    padding-top: 1px;
    border-radius: 20px;
    width: 25px;
    height: 12px;
    transition: background-color 1s ease;
}

.dark.act{
    background-color: aliceblue;
}