body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--selectedBack);
  transition: background-color 1s ease;
  filter:bacground-color blur(20px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  box-sizing: border-box;
  
  --selectedMain: #8A2BE2;
  --blueviolet: #8A2BE2	;
  --blue: navy;
  --pink: rgb(233, 59, 190);
  --green: rgb(42, 214, 102);
  --red: rgb(255, 42, 0);
  
  --selectedFont:#F0FFFF	;
  --whiteFont:#F0FFFF	;

  --selectedBack:white;
  --light: white;
  --dark:rgba(9, 6, 27, 0.943);

  
}



::-webkit-scrollbar{
  width:5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a4a3a3;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




a{
  border:none;
  text-decoration: none;
}